
<div class="flex-container">
  <div class="smoothie menu_box">
    <h1>Pick a size:</h1>
    <div class="options">
      <form>
        <% @smoothies.each do |smoothie| %>
          <input type="radio" name="smoothie" value="<%= smoothie.name %>"> <%= smoothie.name %> <span class="right">(<%= smoothie.size %>)</span><br>
        <% end %>
      </form>
    </div>
  </div>

  <div class="menu_box">
    <h1>Pick your liquid:</h1>
  </div>

  <div class="menu_box">
    <h1>Pick your vitmins:</h1>
  </div>

  <div class="menu_box">
    <h1>Spice it up!</h1>
  </div>
</div>
