/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Abel', sans-serif;
  color: white;
  background-color: grey;
  background-image: url('http://res.cloudinary.com/ddpouudhk/image/upload/v1481751084/2rmwpwymz84-david-di-veroli_csexlc.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* HEADER */

.logo{
  margin:auto;
  text-align: center;
  font-size: 40px;
  font-family: 'Kumar One', cursive;
}

@media screen and (max-width: 675px) {
    .logo {
        font-size: 20px;
    }
}





.flex-container {
  padding: 0;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

   -webkit-flex-flow: row wrap;
   justify-content: center;
}

.box{
  -webkit-flex-flow: row wrap;
}

.menu_box {
   padding: 0px 15px 50px 15px;

   width: 285px;
   margin: 10px 5px 0px 5px;
   color: white;
   text-align: center;
   border-width: 2px;
   border-style: dotted;
   border-color: white;
   font-size: 20px;
}

.options {
  text-align: left;
}
.right{
  float: right;
}


.menu_box p {
  font-size: 20px;
}

.footer {
  margin: 100px 0px 0px 0px;
  padding: 0px;
  width: auto;
  height: 200px;
  background-color: #343235;
}
