<!DOCTYPE html>
<html>
  <head>
    <title>SmoothieMe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Abel|Kumar+One" rel="stylesheet">
  </head>

  <body>
    <header class="logo">
      <h1>SmoothieMe</h1>
    </header>
    <%= yield %>
  </body>
</html>
